# Virtual Environment
.venv/
venv/
ENV/

# Python Cache & Artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
dist/
build/

# IDE & Editor Settings
.vscode/
.idea/

# OS Specific
Thumbs.db
Desktop.ini

# Environment Variables & Secrets
.env
!.env.example

.commands.txt

.coverage